/*
CSS File for Team Rosters Plug
Theme URI: http://shoalsummitsolutions.com
Author: Mark O'Donnell
Author URI: http://shoalsummitsolutions.com
Description: Styles required for the Team Rosters Plugin.
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/*-------------------------------------------------------	
 *	Custom post type "player" single page styles 
 *------------------------------------------------------*/
 
/* player-header contains player photo and information */
div.player-header {
	background-color: #dce6f1; 				/*MS default - very light blue*/
	color: #000;							/*MS default - black*/
	width: 100%;
	/*height: 162px;*/
	float: left;
	font-size: 12px;
	padding: 10px 0;
}

h1.player-head-title {
	color: #000;						/*MS default */
	font-size: 24px;
	font-weight: bold;
}

/* player-photo is coming from the featured image */
#player-photo {
	float: left;
	padding-left: 20px;
	/* display: inline; */
	line-height: 0;
}

#player-photo img {
	border: 1px solid #bbb;
	padding: 5px;
	background-color: #eee;
}

#player-name-nbr {
	float: left;
	/*position: absolute;*/
	padding: 18px 0 20px 20px;
	display: inline;
}

#player-name-nbr #number {
	float: left;
	font-size: 72px;
	line-height: 1em;
	display: inline;
}

#player-name-nbr #player-name {
	float: left;
	font-size: 24px;
	line-height: 36px;
	padding-left: 10px;
	display: inline;
}
			
#player-info {
	float: left;
	font-size: 14px;
	line-height: 16px;
	border-left: 1px solid #fff;
}

#player-info p {
	margin-bottom: 0px;
}

table#player-info {
	font-size: 16px;
	padding-left: 10px;
	margin-left: 20px;
}

table#player-info td {
	padding-top: 2px;
	padding-bottom: 2px;
}

td.lf-col {
	text-align: right;
	font-weight: bold; 
}
	
td.rt-col {
	text-align: left;
	padding-left: 6px;
}

/* 	
 *	player-bio contains whatever is in the post content 
 *	bio, stats, etc.
 */			
.player-bio {
	clear: both;
	border-style: solid;
	border-width: 2px;
	/*border-color: #ffc831; 			/*MC Football - yellow */
	/*border-color: #5899E6; 			/*MCS Athletics - carolina blue */
	border-color: #1982d1; 				/*Twentyeleven Default - lt blue */
}

.player-bio h1 {
	padding: 0 15px;
	font-size: 18px;
	font-weight: bold;
	/*color: #b8202e; 					/*MC Football - red */
	/*color: #5899E6; 					/*MCS Athletics - carolina blue */
	/*color: #000;						/*MS Default - black */
	color: #1982d1;						/*Twentyeleven Default - lt blue */
}

.player-bio h2 {
	padding: 0 15px;
	font-size: 15px;
	/*color: #b8202e; 					/*MC Football - red */
	/*color: #5899E6; 					/*MCS Athletics - carolina blue */
	color: #000;						/*MS Default - black */
}

.player-bio h3 {
	padding: 0 15px;
	font-size: 13px;
	text-transform: uppercase;
	/*color: #b8202e; 					/*MC Football - red */
	/*color: #5899E6; 					/*MCS Athletics - carolina blue */
	color: #000;						/*MS Default - black */
}

.player-bio p {
	padding: 0 15px;
	font-size: 12px;
	margin-bottom: 1.0em;
}

/*-------------------------------------------------------	
 *	Roster table settings
 *------------------------------------------------------*/

h1.mstw_tr_roster_title {
	color: inherit;
	font-size: 24px;
	margin-top: 24px;
	margin-bottom: 0px;
}
 
table.mstw-tr-table {
	/* for last line of table in some styles */
	border-bottom: #95b3d7 solid 1px;  		/* MS default */
	/*border: #000 solid 1px;				/*MC Football - sample */
	/*border: #00004f solid 1px;			/*MCS Athletics - sample */
}

tr.mstw-tr-table-head { 				/* Can be overridden by settings in UI */
	background-color: #4e81db;		/*MS default */
	/*background-color: #000;		/*MC Football - black */
	color: #fff; 					/*MS default */
	/*color: #fff;					/*MC Football - white */
	vertical-align: middle;
	}
 
 tr.mstw-tr-table-head th {
	/*Padding is pretty important and should match the table body setings below */
	padding-left: 5px;  
	vertical-align: middle;
	/* got to grow your own border styles in the header */
	/*border: #000 solid 1px;				/*MC Football - sample */
	/*border: #00004f solid 1px;			/*MCS Athletics - sample */
}

th.mstw-tr-table-head {
	background-color: inherit; 
	color: inherit;
	}

tr.mstw-tr-odd {
	vertical-align: middle;
	background-color: #dce6f1;		/*MS default */
	/*background-color: #ffc831;	/*MC Football - sample */
	color: #000;					/*MS default */
	/*color: #000;					/*MC Football - sample */
}

tr.mstw-tr-even {
	vertical-align: middle;
	background-color: fff; 			/*MS default */
	/* background-color: #b8202e;	/*MC Football - sample */
	/*background-color: #B7DEF7; 	/*MCS-sample lt blue*/
	color: 000; 					/*MS default */
	/*color: #fff;					/*MC Football - sample */
	/*color: #00004f; 				/*MCS-sample dk blue */
}

tr.mstw-tr-odd a {	/* you have finer control here than you do with the admin settings */
	/*color: #00f; 					/* MS default */
	color: #1982d1; 				/*Twentyeleven default blue */
	/*color: #666;					/*MC Football - sample */
	vertical-align: middle;
}

tr.mstw-tr-even a {	/* you can set different link colors for even and odd rows */
	/*color: #00f; 					/* MS default */
	color: #1982d1; 				/*Twentyeleven default blue */
	/*color: #bbb;					/*MC Football - sample */
	vertical-align: middle;
}
	
tr.mstw-tr-odd td, tr.mstw-tr-even td {
	padding-left: 5px;
	/* this is needed down this low in the stack to override twentyeleven defaults */
	border-top: #95b3d7 solid 1px;  		/* MS default */
	/*border: #000 solid 1px;				/*MC Football - sample */
	/*border: #00004f solid 1px;			/*MCS Athletics - sample */
	vertical-align: middle;
}

.mstw-tr-table td img {
	border: 1px solid #BBB;
	padding: 5px;
	background-color: #EEE;
	margin-left: 10px;
	height: 64px;
	width: 64px;
}
 
/*-------------------------------------------------------	
 *	"Teams/team-slug" taxonomy page - creates 'gallery page' 
 *------------------------------------------------------*/
 
 #content-player-gallery {
	margin: 0 7.6% 0 7.6%;
	width: 84.8%;
}

h1.team-head-title {
	font-size: 28px;
	color: #5899E6;
}

.player-tile {
	float: left;
	margin: 15px;
	width: 230px;
	/*color: #00004F; 					/*MCS Athletics - sample */
	color: #000;						/*MS default - black*/
	/* background-color: #5899E6;		/*MCS Athletics - sample */
	background-color: #dce6f1; 			/*MS default - very light blue*/
	-moz-border-radius: 15px;
	border-radius: 15px;
}
 
.player-tile img {
	border: 1px solid #bbb;
	padding: 5px;
	background-color: #eee;
	margin-top: 10px;
	margin-left: 10px;
}
 
.player-name-number {
	font-size: 16px;
	font-weight: bold;
	color: #00004f;
}

.play-name-number a {
	color: #1982d1;
}
 
.player-info-container table.player-info {
	padding: 0 5px 5px 5px;
	margin: 0;
	layout: fixed;
	width: 100%;
	font-size: 12px;
	border: 0 solid #fff;
}
 
.player-info-container .player-name-number {
	padding: 0 5px 5px 5px;
}

table.player-info tr td {
	border: 0 solid blue;
	padding: 0px 5px 5px 5px;
}

/*-------------------------------------------------------	
 *	Special stuff for sf-giants 
 *------------------------------------------------------*/
 /*sf-giants roster table [shortcode]*/
 .mstw-tr-table.mstw-tr-table-sf-giants {
	border-bottom: 1px solid #555;
	}
	
 .mstw-tr-table.mstw-tr-table-sf-giants th.mstw-tr-table-head {
	color: #f59e19; /*orange;*/
	background-color: black;
	}
	
.mstw-tr-table.mstw-tr-table-sf-giants td.mstw-tr-odd {
	color: black;
	background-color: #f59e19; /*orange;*/
	border-top: 1px solid #555;
	}
	
.mstw-tr-table.mstw-tr-table-sf-giants td.mstw-tr-even {
	color: black;
	background-color: #fcdaa6; /*light orange*/
	border-top: 1px solid #555;
	}
	
.mstw-tr-table.mstw-tr-table-sf-giants td.mstw-tr-odd a ,
.mstw-tr-table.mstw-tr-table-sf-giants td.mstw-tr-even a{
	color: #555;
	}

/*sf-giants single player bio page*/	
div.player-header.player-header-sf-giants {
	background-color: #f59e19;  /*orange*/
	color: #000;
}

h1.mstw_tr_roster_title.mstw_tr_roster_title_sf-giants {
	color: black;
}

h1.player-head-title.player-head-title-sf-giants {
	color: #000;
}

.player-bio-sf-giants {
	border-color: #f59e19;  /*orange*/
}

.player-bio.player-bio-sf-giants h1 {
	color: #000;
}

.player-bio.player-bio-sf-giants p {
	color: #000;
}

/*sf-giants player gallery (taxonomy) page*/	
/*.player-tile.player-tile-sf-giants {*/
.player-tile-sf-giants {
	background-color: #f59e19;  /*orange*/
	color: black;
}

.player-tile.player-tile-sf-giants a {
	color: gray;
}

h1.team-head-title.team-head-title-sf-giants {
	color: #000;
	font-weight: bold;
}

.player-tile-sf-giants .player-name-number {
	color: #000;
}
	
/*-------------------------------------------------------	
 *	Special stuff for celts 
 *------------------------------------------------------*/
 .mstw-tr-table.mstw-tr-table-celts {
	border-bottom: 1px solid #000;
	}
	
 .mstw-tr-table.mstw-tr-table-celts th.mstw-tr-table-head {
	color: white;
	background-color: #028249; /*green*/
	}
	
.mstw-tr-table.mstw-tr-table-celts td.mstw-tr-odd {
	color: #028249; /*green*/
	background-color: #fff;
	border-top: 1px solid #000;
	}
	
.mstw-tr-table.mstw-tr-table-celts td.mstw-tr-even {
	color: white;
	background-color: #028249; /*green*/
	border-top: 1px solid #000;
	}
	
.mstw-tr-table.mstw-tr-table-celts td.mstw-tr-odd a {
	color: #028249; /*green*/
	text-decoration: underline;
	}
	
.mstw-tr-table.mstw-tr-table-celts td.mstw-tr-even a {
	color: white;
	text-decoration: underline;
	}

/*-------------------------------------------------------	
 *	Special stuff for cal-bears 
 *------------------------------------------------------*/
 .mstw-tr-table.mstw-tr-table-cal-bears {
	border-bottom: 1px solid #A2AAAD;
	}
	
h1.mstw_tr_roster_title.mstw_tr_roster_title_cal-bears {
	color: #002D62; /*blue*/;
}
	
 .mstw-tr-table.mstw-tr-table-cal-bears th.mstw-tr-table-head {
	color: #FEC524; /*gold*/
	background-color: #002D62; /*blue*/
	}
	
.mstw-tr-table.mstw-tr-table-cal-bears td.mstw-tr-odd {
	color: #002D62; /*blue*/
	background-color: #FEC524; /*gold*/
	border-top: 1px solid #A2AAAD;
	}
	
.mstw-tr-table.mstw-tr-table-cal-bears td.mstw-tr-even {
	color: #FEC524; /*gold*/
	background-color: #002D62; /*blue*/
	border-top: 1px solid #A2AAAD;
	}
	
.mstw-tr-table.mstw-tr-table-cal-bears td.mstw-tr-odd a,
.mstw-tr-table.mstw-tr-table-cal-bears td.mstw-tr-even a {
	color: #A2AAAD; /*gray*/
	}
	
/*cal-bears single player bio page*/	
div.player-header.player-header-cal-bears {
	background-color: #002D62; /*blue*/
	color: #FEC524; /*gold*/
}

.player-header-cal-bears #player-name-nbr {
	color: #FEC524; /*gold*/
}

h1.player-head-title.player-head-title-cal-bears {
	color: #002D62; /*blue*/
}

.player-bio.player-bio-cal-bears {
	border-color: #002D62; 		/*blue*/
	background-color: #AFB7BA; 	/*gray*/
	color: #002D62; 			/*blue*/
}

.player-bio.player-bio-cal-bears h1 {
	color: #002D62; /*blue*/ 
}


/*cal-bears player gallery (taxonomy) page*/	

.player-tile.player-tile-cal-bears {
	background-color: #002D62; /*blue*/
	color: #FEC524; /*gold*/
}

h1.team-head-title.team-head-title-cal-bears {
	color: #002D62; /*blue*/
	font-weight: bold;
}

.player-tile-cal-bears .player-name-number {
	color: #FEC524; /*gold*/
}

.player-tile.player-tile-cal-bears a {
color: #AFB7BA; /*gray*/
}

